/FoxTail.Extensions/bin/
/FoxTail.Extensions/obj/
/FoxTail.UnitTests/obj/
/FoxTail.UnitTests/bin/
/FoxTail.Common/bin/
/FoxTail.Common/obj/
/.idea/
/.vscode/
/.vs/

/FoxTail.Net.sln.DotSettings.user
/FoxTail.Common/FoxTail.Common.csproj.user
/FoxTail.Extensions/FoxTail.Extensions.csproj.user
/FoxTail.Extensions/Properties/PublishProfiles
/FoxTail.Common/Properties/PublishProfiles
